/* Enter your custom styles here */
.button-middle{ 
    position: absolute;
    left: 34%;
    top: 10%;
    animation-name: rotate;
    animation-duration: 0.7s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.f1{ 
    position: absolute;
    left: 38%;
    top: 12%;
    width: 300px;
    height: 300px;
    animation-name: rotate;
    animation-duration: 0.7s;
}

.main-back { 
    background-color: #7ca5ce;
}
.welcome { 
    font-size: large;
    position: absolute;
    left: 42%;
    top: 5%;
    animation-name: rotate;
    animation-duration: 0.7s;
}
.text-center{ 
    text-align: center;
}
.button{ 
    width: 100%;
}

.table tr:nth-child(2n-1){ 
    background-color: #7ca5ce;
}
.grid { 
    position: absolute;
    top: 40%;
}
